{% extends 'templates_feedback/_layout_feedback.html' %}
{% load static %}


{% block jsBlock %}
    <script src="{% static 'assets/Scripts/persian-datepicker.js'%}"></script>
    <script src="{% static 'assets/vendors/MdBootstrapPersianDateTimePicker/js/calendar.js' %}"
    type="text/javascript"></script>

    <script src="{% static 'assets/vendors/tinymce/tinymce.min.js' %}"></script>
    <!-- tinyMce -->
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            editor_selector: "id_KnowledgeTextSummary",
            height: 300,
            language: "fa_IR",
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table directionality',
                'emoticons template paste textpattern imagetools image'
            ],
            image_advtab: true,
            toolbar1: 'bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect ',
            toolbar2: 'cut copy paste pastetext pasteword | search replace bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image cleanup help code | insertdate inserttime preview | forecolor backcolor',
            toolbar3: 'tablecontrols hr removeformat visualaid | sub sup | charmap emotions iespell media advhr | print | ltr rtl | fullscreen | insertlayer moveforward movebackward absolute | styleprops spellchecker | cite abbr acronym del ins attribs | visualchars nonbreaking template blockquote pagebreak | insertfile insertimage emoticons',
            // enable title field in the Image dialog
            image_title: true,
            // enable automatic uploads of images represented by blob or data URIs
            automatic_uploads: true,
            // add custom filepicker only to Image dialog
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                let input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.onchange = function () {
                    let file = this.files[0];
                    let reader = new FileReader();
                    reader.onload = function () {
                        let id = 'blobid' + (new Date()).getTime();
                        let blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        let base64 = reader.result.split(',')[1];
                        let blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);
                        // call the callback and populate the Title field with the file name
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };
                input.click();
            }
        });
    </script>
<script>
        $('input[type=file]').addClass('form-control');
        $('input[type=number]').addClass('form-control');
        $('input[type=text]').addClass('form-control');
        $('input[type=email]').addClass('form-control');
        $('select').addClass('form-control');
    </script>



<script>
    $.fn.extend({
        treed: function (o) {

            let openedClass = 'glyphicon-minus-sign';
            let closedClass = 'glyphicon-plus-sign';

            if (typeof o != 'undefined') {
                if (typeof o.openedClass != 'undefined') {
                    openedClass = o.openedClass;
                }
                if (typeof o.closedClass != 'undefined') {
                    closedClass = o.closedClass;
                }
            }

            //initialize each of the top levels
            let tree = $(this);
            tree.addClass("tree");
            tree.find('li').has("ul").each(function () {
                let branch = $(this); //li with children ul
                branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
                branch.addClass('branch');
                branch.on('click', function (e) {
                    if (this == e.target) {
                        let icon = $(this).children('i:first');
                        icon.toggleClass(openedClass + " " + closedClass);
                        $(this).children().children().toggle();
                    }
                })
                branch.children().children().toggle();
            });
            //fire event from the dynamically added icon
            tree.find('.branch .indicator').each(function () {
                $(this).on('click', function () {
                    $(this).closest('li').click();
                });
            });
            //fire event to open branch if the li contains an anchor instead of text
            tree.find('.branch>a').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
            //fire event to open branch if the li contains a button instead of text
            tree.find('.branch>button').each(function () {
                $(this).on('click', function (e) {
                    $(this).closest('li').click();
                    e.preventDefault();
                });
            });
        }
    });

    //Initialization of treeviews

    $('#tree1').treed();

    function setChartId(id, name, type) {
        if (type == 3) {
            document.getElementById('suggestion_specialty').value = id;
            document.getElementById('KnowledgeProcessText').value = name;
        } else {
            alert('لطفا یک فرآیند انتخاب کنید');
        }
        console.log(type)
    }
</script>
<script>
    $(document).ready(function () {
        //Initialize tooltips
        $('.nav-tabs > li a[title]').tooltip();

        //Wizard
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

            var $target = $(e.target);

            if ($target.parent().hasClass('disabled')) {
                return false;
            }
        });

        $(".next-step").click(function (e) {

            var $active = $('.wizard .nav-tabs li.active');
            $active.next().removeClass('disabled');
            nextTab($active);

        });
        $(".prev-step").click(function (e) {

            var $active = $('.wizard .nav-tabs li.active');
            prevTab($active);

        });
    });

    function nextTab(elem) {
        $(elem).next().find('a[data-toggle="tab"]').click();
    }
    function prevTab(elem) {
        $(elem).prev().find('a[data-toggle="tab"]').click();
    }
</script>

{% endblock %}


{% block cssBlock %}
<link href="{% static 'custom.css' %}" rel="stylesheet"/>
{% endblock %}


{% block pageContent %}
        <div class="">
            <div class="x_panel">
                <div class="x_title bg-primary">
                    <h2 class="pull-right">دلیل ارسال </h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form method="post" role="form" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="row">

                                <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                                    <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">اظهار نظر   :  </label>
                                    <div class="clearfix"></div>
                                    <textarea name="opnion" id="opnion" cols="30" rows="10"></textarea>
                                </div>


                                
                                {% if suggestion_obj.suggestion_specialty %}

                                    <div style="margin: 25px 1px;"  class="col-md-12 col-sm-12 col-xs-12 form-group pull-right" onchange="showTreeFunc();">
                                        <label for="CreatorUserID"
                                        class="control-label col-md-5 col-sm-3 col-xs-12 pull-right">آیا  این پیشنهاد تخصصی است؟</label>
                                        <div class="toggle-radio">
                                            <input type="radio" name="isSpecial" id="yes1" checked value="1">
                                            <input type="radio" name="isSpecial" id="no1"  value="2">
                                            <div class="switch" style="margin:-19px -14px;">
                                            <label for="yes1">بله</label>
                                            <label for="no1">خیر</label>
                                            <span></span>
                                            </div>
                                        </div>
                                    </div>

                                {%  else %}


                                <div style="margin: 25px 1px;"  class="col-md-12 col-sm-12 col-xs-12 form-group pull-right" onchange="showTreeFunc();">
                                    <label for="CreatorUserID"
                                    class="control-label col-md-5 col-sm-3 col-xs-12 pull-right">آیا  این پیشنهاد تخصصی است؟</label>
                                    <div class="toggle-radio">
                                        <input type="radio" name="isSpecial" id="yes1" value="1">
                                        <input type="radio" name="isSpecial" id="no1" checked value="2">
                                        <div class="switch" style="margin:-19px -14px;">
                                          <label for="yes1">بله</label>
                                          <label for="no1">خیر</label>
                                          <span></span>
                                        </div>
                                      </div>
                                </div>
                                    
                                {% endif %}
                                    



                                {% if suggestion_obj.suggestion_specialty %}
                                <a type="button" class="btn btn-light " id="isSpecialDiv" style="border: solid black 1px;margin: 25px;" data-toggle="modal" data-target="#trials">
                                    <img src="/static/assets/images/document-file-svgrepo-com.svg" style="width:50px;height:50px;" alt="">
                                    افزودن تخصص
                                </a>

                                {%  else %}

                                <a type="button" class="btn btn-light hidden" id="isSpecialDiv" style="border: solid black 1px;margin: 25px;" data-toggle="modal" data-target="#trials">
                                    <img src="/static/assets/images/document-file-svgrepo-com.svg" style="width:50px;height:50px;" alt="">
                                    افزودن تخصص
                                </a>

                                {% endif %}
                                    

                            <br>

                            <div  class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                                <button class="btn btn-primary" type="submit">
                                    ثبت 
                                </button>
                            </div>

                        </div>


                        <!-- modal -->

                        <div class="modal fade" id="trials" tabindex="-1" role="dialog" aria-labelledby="trialsTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="passed_trials_title"> افزودن تخصص :   </h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                  </button>
                                </div>
                        
                                <div class="modal-footer">
                                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        
                        
                                                    <label for="KnowledgeProcessText"
                                                        class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">حوزه
                                                    تخصص</label>
                                                    <ul id="tree1">
                                                        {{ html_chart|safe }}
                                                    </ul>

                                                    {% if suggestion_obj.suggestion_specialty %}
                                                        <input type="text" id="KnowledgeProcessText" name="KnowledgeProcessText"
                                                            class="form-control" value="{{ suggestion_obj.suggestion_specialty }}" disabled>
                                                    {% else %}
                                                        <input type="text" id="KnowledgeProcessText" name="KnowledgeProcessText"
                                                        class="form-control"  disabled>
                                                    {% endif %}


                                                    {% if suggestion_obj.suggestion_specialty %}
                                                    <div id="hideKnowledgeProcess">
                                                        <input class="hidden" type="text" value="{{ suggestion_obj.suggestion_specialty.Chart }}" id="suggestion_specialty" name="suggestion_specialty"/>
                                                    </div>
                                                    {% else %}
                                                    <div id="hideKnowledgeProcess">
                                                        <input class="hidden" type="text" id="suggestion_specialty" name="suggestion_specialty"/>
                                                    </div>
                                                    {% endif %}


                        
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>




                    </form>
                </div>
            </div>
        </div>


        

        <script>
            function showTreeFunc(){
                var radios = document.getElementsByName('isSpecial');
                for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    if (radios[i].value == '1'){
                        $('#isSpecialDiv').removeClass('hidden');
                        $('#trials').modal('show');
                    }
                    else{
                        $('#isSpecialDiv').addClass('hidden');
                    }
                }
                }
            }
        </script>





{% endblock %}