{% extends 'templates_feedback/_layout_feedback.html' %}

{% block jsBlock %}
    <script>
        function printDiv(divName) {
            let printContents = document.getElementById(divName).innerHTML;
            let originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
        <script>
            setTimeout(function(){
                        window.location.href = '{% url "work_ingroup_suggesstion_list" %}';
                     }, 5000);
        </script>  
{% endblock %}


{% block cssBlock %}
    <style>
        p {
            margin: 25px 10px;
            color : black;
            font-size: 14px;
        }

        ul {
            margin-top: 20px;
        }

        .style_class {
            margin: 1px -35%
        }
        .style_class2 {
            margin: 1px -26%
        }
        .size_Style{
            font-size: 14px;
        }
        .colorfull{
            color : black;
            font-size: 14px;
        }
        hr{
            width: 95%;
            border-top: 1px solid rgb(184, 184, 184);
        }
    </style>
{% endblock %}


{% block pageContent %}

    <div class="">
        <div class="x_panel">
            <div class="x_title bg-primary">

                <h2 class="pull-right">نتیجه پیشنهاد</h2>
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </div>
            
            <div class="x_content">
                <center>
                    <div style="width: 40%; border-radius: 7px;" class="alert alert-success">
                        
                        <p style="margin: 5px;">امتیاز  : {{total_score}}</p>

                    </div>

                </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}