{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="fa">
<meta
x-frame-options: SAMEORIGIN
content-security-policy: frame-ancestors 'self' />

<meta property="og:image" content="{% static 'favicon/apple-icon-180x180.png' %}"/>
<meta name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=6.0, user-scalable=0">
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
<meta name="author" content="داود فرزام فر">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords"
      content="استانداری, خوزستان, مدیریت, دانش, مدیریت دانش, استانداری خوستان, مدیریت دانش استانداری خوزستان"/>
<meta name="description" content="برنامه ای برای مدیریت دانش استانداری خوزستان"/>

<link rel="manifest" href="{% static 'favicon/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'favicon/apple-icon-144x144.png' %}">
<meta name="theme-color" content="#10bfc1">
<meta name="msapplication-navbutton-color" content="#66d7e6">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<!-- Bootstrap -->
<link href="{% static 'assets/Content/bootstrap-rtl.min.css' %}" rel="stylesheet"/>
<!-- Font Awesome -->
<link href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
<!-- NProgress -->
<link href="{% static 'assets/vendors/nprogress/nprogress.css' %}" rel="stylesheet"/>