{% extends '_layout.html' %}
{% load static %}


{% block jsBlock %}
    <script src="{% static 'assets/cloack/moment.js' %}"></script>
    <script src="{% static 'assets/cloack/datetimepicker.js' %}"></script>

    <script src="{% static 'assets/Scripts/persian-datepicker.js'%}"></script>
    <script src="{% static 'assets/vendors/MdBootstrapPersianDateTimePicker/js/calendar.js' %}"
    type="text/javascript"></script>
    <script
        src="{% static 'assets/vendors/MdBootstrapPersianDateTimePicker/js/jquery.Bootstrap-PersianDateTimePicker.js' %}"
        type="text/javascript">
    </script>

    <script>
        $('input').prop('required',true);
        $('input[type=file]').addClass('form-control');
        $('input[type=number]').addClass('form-control');
        $('input[type=text]').addClass('form-control');
        $('input[type=email]').addClass('form-control');
        $("#id_from_date").addClass('hidden');
        $("#id_to_date").addClass('hidden');
    </script>
    
    <script>
        $(function () {
            $('#datepicker0').datepicker();
            $('#datepicker1').datepicker();
        });
    </script>
    <script>
        function datepicker1Change() {
            document.getElementById("id_from_date").value = fixNumbers($('#fromDate1').val().replace("/", "").replace("/", ""));
        }

        function datepicker2Change() {
            document.getElementById("id_to_date").value = fixNumbers($('#fromDate2').val().replace("/", "").replace("/", ""));
        }
    </script>
    <script>
        $('#fromDate1').val(normalizeDate($('#id_from_date').val()));
        $('#fromDate2').val(normalizeDate($('#id_to_date').val()));
    </script>

<script src="{% static 'assets/vendors/tinymce/tinymce.min.js' %}"></script>
<!-- tinyMce -->
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        editor_selector: "id_KnowledgeTextSummary",
        height: 300,
        language: "fa_IR",
        plugins: [
            'advlist autolink lists link image charmap print preview hr anchor pagebreak',
            'searchreplace wordcount visualblocks visualchars code fullscreen',
            'insertdatetime media nonbreaking save table directionality',
            'emoticons template paste textpattern imagetools image'
        ],
        image_advtab: true,
        toolbar1: 'bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect ',
        toolbar2: 'cut copy paste pastetext pasteword | search replace bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image cleanup help code | insertdate inserttime preview | forecolor backcolor',
        toolbar3: 'tablecontrols hr removeformat visualaid | sub sup | charmap emotions iespell media advhr | print | ltr rtl | fullscreen | insertlayer moveforward movebackward absolute | styleprops spellchecker | cite abbr acronym del ins attribs | visualchars nonbreaking template blockquote pagebreak | insertfile insertimage emoticons',
        // enable title field in the Image dialog
        image_title: true,
        // enable automatic uploads of images represented by blob or data URIs
        automatic_uploads: true,
        // add custom filepicker only to Image dialog
        file_picker_types: 'image',
        file_picker_callback: function (cb, value, meta) {
            let input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.setAttribute('accept', 'image/*');
            input.onchange = function () {
                let file = this.files[0];
                let reader = new FileReader();
                reader.onload = function () {
                    let id = 'blobid' + (new Date()).getTime();
                    let blobCache = tinymce.activeEditor.editorUpload.blobCache;
                    let base64 = reader.result.split(',')[1];
                    let blobInfo = blobCache.create(id, file, base64);
                    blobCache.add(blobInfo);
                    // call the callback and populate the Title field with the file name
                    cb(blobInfo.blobUri(), { title: file.name });
                };
                reader.readAsDataURL(file);
            };
            input.click();
        }
    });
</script>


{% endblock %}


{% block cssBlock %}
<link rel="stylesheet" href="{% static 'assets/cloack/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}


{% block pageContent %}
        <div class="">
            <div class="x_panel">
                <div class="x_title bg-primary">
                    <h2 class="pull-right"> اطلاع رسانی </h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form action="" method="post" role="form" enctype="multipart/form-data" style="margin-top: -11px;">
                        {% csrf_token %}

                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right ">
                            <label for="fromDate1"
                                class="control-label col-md-5 col-sm-3 col-xs-12 pull-right">
                                از تاریخ :
                                 </label>
                            <input type="text" class="form-control" id="fromDate1"
                                data-mddatetimepicker="true" data-trigger="click"
                                data-targetselector="#fromDate1" data-groupid="group1" data-fromdate="true"
                                data-enabletimepicker="false" data-placement="right"
                                onchange="datepicker1Change()">
                            {{ form.from_date }}
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                                            <label for="fromDate2"
                                                class="control-label col-md-5 col-sm-3 col-xs-12 pull-right">تا
                                                تاریخ :</label>
                                            <input type="text" class="form-control" id="fromDate2"
                                                data-mddatetimepicker="true" data-trigger="click"
                                                data-targetselector="#fromDate2" data-groupid="group1" data-fromdate="true"
                                                data-enabletimepicker="false" data-placement="right"
                                                
                                                onchange="datepicker2Change()">
                                            {{ form.to_date }}
                                        </div>
                                        <br>
                                        <div class="col-md-6 col-sm-12 col-xs-12 form-group pull-right">
                                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">عنوان : </label>
                                            <div class="clearfix"></div>
                                            {{ form.title }}
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                                            <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">متن : </label>
                                            <div class="clearfix"></div>
                                            {{ form.text }}
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 form-group pull-right">
                                            <button class="btn btn-primary" >ثبت</button>
                                        </div>

                    </form>
                </div>
            </div>
        </div>

{% endblock %}