{% extends '_layout.html' %}
{% load static %}


{% block jsBlock %}
    <script src="{% static 'assets/Scripts/persian-datepicker.js'%}"></script>
    <script src="{% static 'assets/vendors/MdBootstrapPersianDateTimePicker/js/calendar.js' %}"
    type="text/javascript"></script>

    <script src="{% static 'assets/vendors/tinymce/tinymce.min.js' %}"></script>
    <!-- tinyMce -->
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            editor_selector: "id_KnowledgeTextSummary",
            height: 300,
            language: "fa_IR",
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table directionality',
                'emoticons template paste textpattern imagetools image'
            ],
            image_advtab: true,
            toolbar1: 'bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect ',
            toolbar2: 'cut copy paste pastetext pasteword | search replace bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image cleanup help code | insertdate inserttime preview | forecolor backcolor',
            toolbar3: 'tablecontrols hr removeformat visualaid | sub sup | charmap emotions iespell media advhr | print | ltr rtl | fullscreen | insertlayer moveforward movebackward absolute | styleprops spellchecker | cite abbr acronym del ins attribs | visualchars nonbreaking template blockquote pagebreak | insertfile insertimage emoticons',
            // enable title field in the Image dialog
            image_title: true,
            // enable automatic uploads of images represented by blob or data URIs
            automatic_uploads: true,
            // add custom filepicker only to Image dialog
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                let input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.onchange = function () {
                    let file = this.files[0];
                    let reader = new FileReader();
                    reader.onload = function () {
                        let id = 'blobid' + (new Date()).getTime();
                        let blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        let base64 = reader.result.split(',')[1];
                        let blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);
                        // call the callback and populate the Title field with the file name
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };
                input.click();
            }
        });
    </script>
<script>
        $('input[type=file]').addClass('form-control');
        $('input[type=number]').addClass('form-control');
        $('input[type=text]').addClass('form-control');
        $('input[type=email]').addClass('form-control');
        $('select').addClass('form-control');
    </script>

{% endblock %}


{% block cssBlock %}

{% endblock %}


{% block pageContent %}
        <div class="">
            <div class="x_panel">
                <div class="x_title bg-primary">
                    <h2 class="pull-right">دلیل ارسال تجربه</h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form method="post" role="form" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                                
                                <div class="clearfix"></div>
                                <div class="col-md-4 col-sm-12 col-xs-12 form-group pull-right">
                                    <p class="control-label col-md-4 col-sm-12 col-xs-12 pull-right">موضوع 1  :</p>
                                    
                                    <select class="form-control" id="topic1-subject" name="mozo1">
                                        <option >انتخاب کنید</option>
                                        {% for item in get_topic1 %}
                                        <option value="{{item.id}}"> {{item.mozo1}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                          
                                <div class="col-md-4 col-sm-12 col-xs-12 form-group pull-right">
                                    <p class="control-label col-md-4 col-sm-12 col-xs-12 pull-right">موضوع 2  :</p>
                                    <select id="topic2-subject" name="mozo2">
                                    </select>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12 form-group pull-right">
                                    <p class="control-label col-md-4 col-sm-12 col-xs-12 pull-right">موضوع 3  :</p>
                                    <select id="topic3-subject" name="mozo3">

                                    </select>
                                </div>
                                <label class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">اظهار نظر :</label>
                                <textarea name="nazar" id="" cols="30" rows="10"></textarea>
                            </div>
                            <button class="btn btn-primary" onclick="check_textarea_isfull()" type="submit">
                                ثبت 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            $("#topic1-subject").change(function () {
                const subjectId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
                $.ajax({                       // initialize an AJAX request
                    type: "POST",
                    url: '{% url "topic2_view" %}',
                    data: {
                        'subject_id': subjectId,       // add the country id to the POST parameters
                        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function (data) {   // `data` is from `topic1_view` view 
                        var topic2 = document.getElementById('topic2-subject').innerHTML = "";
                        var topic3 = document.getElementById('topic3-subject').innerHTML = "";
                        console.log('data',data)
                        let arr_from_json = JSON.parse(data);
                        for (let i = 0; i < arr_from_json.length; i++) {
                        $('#topic2-subject').append("<option value=" + arr_from_json[i].id + ">" + arr_from_json[i].text + "</option>");
                    }

                        //// this cause mozo 3 npt to be null
                        const subjectId = arr_from_json[0].id // get the selected subject ID from the HTML dropdown list 
                        $.ajax({                       // initialize an AJAX request
                            type: "POST",
                            url: '{% url "topic3_view" %}',
                            data: {
                                'subject_id': subjectId,       // add the country id to the POST parameters
                                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                            },
                            success: function (data) {   // `data` is from `topic1_view` view 
                                document.getElementById('topic3-subject').innerHTML = "";
                                console.log('data',data)
                                let arr_from_json = JSON.parse(data);
                                for (let i = 0; i < arr_from_json.length; i++) {
                                $('#topic3-subject').append("<option value=" + arr_from_json[i].id + ">" + arr_from_json[i].text + "</option>");
                            }

                            }
                        });
                        /////
                
                    }
                });
            });
        </script>
                <script>
                    $("#topic2-subject").change(function () {
                        const subjectId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
                        $.ajax({                       // initialize an AJAX request
                            type: "POST",
                            url: '{% url "topic3_view" %}',
                            data: {
                                'subject_id': subjectId,       // add the country id to the POST parameters
                                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                            },
                            success: function (data) {   // `data` is from `topic1_view` view 
                                document.getElementById('topic3-subject').innerHTML = "";
                                console.log('data',data)
                                let arr_from_json = JSON.parse(data);
                                for (let i = 0; i < arr_from_json.length; i++) {
                                $('#topic3-subject').append("<option value=" + arr_from_json[i].id + ">" + arr_from_json[i].text + "</option>");
                            }

                            }
                        });
                    });
                </script>
{% endblock %}