{% extends '_layout.html' %}
{% load static %}
{% load comon_tags %}
{% block jsBlock %}
    <script>
        function printDiv(divName) {
            let printContents = document.getElementById(divName).innerHTML;
            let originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
    
    {% if Knowledge.KnowledgeFromDate %}
    <script>
        document.getElementById("fromDate").innerHTML = normalizeDate('{{ Knowledge.KnowledgeFromDate }}');
    </script>
    {% endif %}

    
    {% if Knowledge.KnowledgetoDate  %}
    <script>
        document.getElementById("toDate").innerHTML = normalizeDate('{{ Knowledge.KnowledgetoDate }}');
    </script>
    {% endif %}
    
{% endblock %}


{% block cssBlock %}
    <style>
        p {
            margin: 25px 10px;
            color : black;
            font-size: 14px;
        }

        ul {
            margin-top: 20px;
        }

        .style_class {
            margin: 1px -35%
        }
        .style_class2 {
            margin: 1px -26%
        }
        .size_Style{
            font-size: 14px;
        }
        .colorfull{
            color : black;
            font-size: 14px;
        }
        hr{
            width: 95%;
            border-top: 1px solid rgb(184, 184, 184);
        }
    </style>
{% endblock %}


{% block pageContent %}

    <div class="">
        <div class="x_panel">
            <div class="x_title bg-primary">
                <h2 class="pull-right">{{ Knowledge.KnowledgeTitle.KnowledgeTitleText }}</h2>
                <a onclick="printDiv('printarea');"> <i class="fa fa-print" style="
                    font-size: 30px;
                    color: white;
                    cursor: pointer;"> </i><h2> پرینت این صفحه </h2> </a>
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="row" id="printarea">

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right ">
                        <label style="color : blue;" class="control-label col-md-5 col-sm-3 col-xs-12 pull-right size_Style"><i class="fa fa-circle" style="color : blue;" aria-hidden="true"></i>   دسته ی موضوعی  :</label>
                        <span class="col-md-12 col-sm-12 col-xs-12 form-group pull-right colorfull">
                            {{ get_topic }}
                        </span>
                        
                    </div>

                    <hr>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <label style="color : blue;" class="control-label col-md-5 col-sm-3 col-xs-12 pull-right size_Style"><i class="fa fa-circle" style="color : blue;" aria-hidden="true"></i>   نظر خبره  :</label>
                        <span  class="col-md-12 col-sm-12 col-xs-12 form-group pull-right colorfull">
                            {{ get_knowledge_review.nazar |safe }}
                        </span>

                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}