{% extends '_layout.html' %}
{% load static %}

{% block jsBlock %}
    <!-- Datatables -->
    <script src="{% static 'assets/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'assets/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    {% for Knowledge in Knowledges %}
        <script>
            document.getElementById("{{ Knowledge.CreateDate }}{{ forloop.counter }}").innerHTML = normalizeDate("{{ Knowledge.CreateDate }}");
        </script>
    {% endfor %}
    <script>
        $('input[type=text]').addClass('form-control');
        $('input[type=file]').addClass('form-control');
        $('input[type=number]').addClass('form-control');
        $('select').addClass('form-control');
       
    </script>
{% endblock %}


{% block cssBlock %}
    <!-- Datatables -->

    <link href="{% static 'assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}"
          rel="stylesheet">
          <style>
.limit_text{
            white-space: nowrap;
            overflow: hidden;
            width: 200px;
            height: 30px;
            text-overflow: ellipsis; 
        }
          </style>
        <style>
        span.select2.select2-container.select2-container--default {
            width: 100% !important;
        }
    </style>
{% endblock %}


{% block pageContent %}

    <div class="">
        <!-- modal button -->
        <div dir="ltr" style="margin-top: -3%;" class="col-md-12 col-sm-12 col-xs-12 form-group pull-left">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                جستجو فیلتر دار<i class="fa fa-filter"></i>
              </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header" style="background-color: #337ab7;">
                  <h4 style="color:white" class="modal-title" id="exampleModalLongTitle"> جستجو...</h4>
                  <button style="color:white;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="" method="post" role="form" >
                    {% csrf_token %}
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <p class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">عنوان تجربه </p>
                        <input type="text" name="SearchTitle" id="SearchTitle" class="form-control"/>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <p class="control-label col-md-12 col-sm-12 col-xs-12 pull-right"> شخص ثبت کننده  </p>
                        <select name="members" id="id_members">
                            <option value="-1">---------------</option>
                            {% for item in members %}
                            <option value="{{item.member}}">{{item.first_name}} {{item.last_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <p class="control-label col-md-4 col-sm-12 col-xs-12 pull-right">کلید واژه</p>
                            <select class="hidden" id="keywords" name="knowledge_keywords" multiple="true"  data-role="tagsinput">
                            </select>

                            <input type="text" class="hidden" id="SearchKeyword" name="SearchKeyword" >
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <p class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">از تاریخ </p>
                        <input type="text" class="form-control" name="from_date3" id="SearchFromDate"
                               data-mddatetimepicker="true" data-trigger="click" data-targetselector="#SearchFromDate"
                               data-groupid="group1" data-fromdate="true" data-enabletimepicker="false"
                               data-englishnumber="true"
                               data-placement="right"
                               pattern='([1][234]\d{2}/(0[1-9]|1[0-2])/(0[1-9]|[12]\d|3[01]))'
                               oninvalid="this.setCustomValidity('تاریخ معتبر وارد کنید')"
                               onchange="this.setCustomValidity('')"
                        />
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right">
                        <p class="control-label col-md-12 col-sm-12 col-xs-12 pull-right">تا تاریخ </p>
                        <input type="text" class="form-control" name="to_date3" id="SearchToDate"
                               data-mddatetimepicker="true" data-trigger="click" data-targetselector="#SearchToDate"
                               data-groupid="group1" data-fromdate="true" data-enabletimepicker="false"
                               data-englishnumber="true"
                               data-placement="right"
                               pattern='([1][234]\d{2}/(0[1-9]|1[0-2])/(0[1-9]|[12]\d|3[01]))'
                               oninvalid="this.setCustomValidity('تاریخ معتبر وارد کنید')"
                               onchange="this.setCustomValidity('')"
                        />
                    </div>
        
                  <button type="button" class="btn btn-danger" data-dismiss="modal">خروج</button>
                  <button type="submit" id="buttonShow" class="btn btn-primary">جستجو </button>
                </div>
                </form>
              </div>
            </div>
          </div>

        <div class="x_panel">
            <div class="x_title bg-info">

                <h2 class="pull-right">لیست</h2>
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>عنوان</th>
                            <th>ثبت کننده</th>
                            <th>تاریخ</th>
                            <th>نوع دانش</th>
                            <th>وضعیت</th>
                            <th>عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for Knowledge in Knowledges %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> <p class="limit_text">{{ Knowledge.KnowledgeTitle }}</p> </td>
                                <td>{% if Knowledge.CreatorUserID.first_name and Knowledge.CreatorUserID.last_name %}
                                    {{ Knowledge.CreatorUserID.first_name }} {{ Knowledge.CreatorUserID.last_name }}
                                {% else %}
                                    {{ Knowledge.CreatorUserID.username }}
                                {% endif %}</td>
                                <td id="{{ Knowledge.CreateDate }}{{ forloop.counter }}"></td>
                                <td>                             
                                    {% if Knowledge.Type == 1 %}
                                        تجربه
                                    {% elif Knowledge.Type == 3 %}
                                    تجربه تطبیقی 
                                    {% elif Knowledge.Type == 4 %}
                                    تجربه مهارت
                                    {% elif Knowledge.Type == 5 %}
                                    ارتقای شغلی
                                    {% endif %}               
                                </td>
                                <td style="text-align: center;">                                    
                                    {% if Knowledge.register_status == 1 %}
                                    <span >ارسال شده به دبیرخانه</span>               
                                    {% elif Knowledge.register_status == 2 %}
                                    <span >ثبت شده </span>
                                    {% elif Knowledge.register_status == 3 %}
                                    <span >ثبت موقت </span>
                                    {% elif Knowledge.register_status == 4 %}
                                    <span > بازگشت تجربه از طرف دبیرخانه </span>
                                    {% elif Knowledge.register_status == 5 %}
                                    <span > ارسال شده به ارزیاب</span>
                                    {% elif Knowledge.register_status == 6 %}
                                    <span >تجربه از طرف ارزیاب رد شده</span>
                                    {% elif Knowledge.register_status == 7 %}
                                    <span >دانش</span>
                                    {% elif Knowledge.register_status == 8 %}
                                    <span >تجربه از طرف حراست رد شده</span>
                                    {% elif Knowledge.register_status == 9 %}
                                    <span >دانش</span>
                                    {% endif %}
                                </td>
                                {% if pageType == 1 or pageType == 2 %}
                                <td>
                                {% if pageType == 1  %}
                                    {% if Knowledge.CreatorUserID == user %}
                                        {% if Knowledge.register_status == 1 or Knowledge.register_status == 2 or Knowledge.register_status == 3 or Knowledge.register_status == 4 or Knowledge.register_status == 6 %}

                                            <a class="btn btn-primary" href="/EditExperience/{{ Knowledge.KnowledgeCode }}"> ویرایش </a>
                                            <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal2"
                                            onclick="document.getElementById('delete_link').href='/DeleteExperience/{{ Knowledge.KnowledgeCode }}'">حذف </a>                                         
                                                    
                                            {% if Knowledge.register_status == 2 or Knowledge.register_status == 3 or Knowledge.register_status == 4 %}
                                                <a class="btn btn-success" href='{% url "PermanentSubmit" id=Knowledge.KnowledgeCode %}'>ارسال</a>
                                                
                                            {% endif %}
                                            {% if Knowledge.register_status == 4 %}
                                            <a class="btn btn-dark" href='{% url "rejected_knowledgeView" id=Knowledge.KnowledgeCode %}'>دلیل رد شدن</a>
                                            
                                        {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    <a class="btn btn-success" href="/KnowledgeView/{{ Knowledge.KnowledgeCode }}">کاربرگ</a>
                                            {% if Knowledge.register_status > 3 %}
                                            <a class="btn btn-warning" data-toggle="modal" data-target="#recyclemodal"
                                        onclick="document.getElementById('recycle_link').href='/Recycle_Knowledge/{{ Knowledge.KnowledgeCode }}'">بازنگری  </a>
                                            {% endif %}
                                {% endif %}
                                </td>
                                {% else %}
                                <td>
                                    <a class="btn btn-success" href="/KnowledgeView/{{ Knowledge.KnowledgeCode }}">کاربرگ </a>                                       
                                </td>
                                {% endif %}
                                
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">حذف تجربه</h5>
               <button type="button" class="close" data-dismiss="modal"
                       aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div class="modal-body">
               <p>آیا از حذف این آیتم مطمئن هستید؟</p>
               <br>
               <a class="btn btn-danger" id="delete_link"
                  href=""><i
                       class="fa fa-eye">
                   حذف</i> </a>
               <button type="button" class="btn btn-secondary"
                       data-dismiss="modal">کنسل
               </button>
           </div>
       </div>
   </div>
</div>

<!-- بازنگری modal  -->
<div class="modal fade" id="recyclemodal" tabindex="-1" role="dialog"
aria-labelledby="recyclemodalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title" id="recyclemodalLabel"> بازنگری</h5>
           <button type="button" class="close" data-dismiss="modal"
                   aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
       </div>
       <div class="modal-body">
           <p>آیا از بازنگری این تجربه مطمئن هستید؟
            <br>
            (این تجربه تحت عنوان بازنگری ثبت میگردد و تجربیات قبل همچنان وجود دارند)

           </p>
           <br>
           <a class="btn btn-warning" id="recycle_link"
              href="">بازنگری </a>
           <button type="button" class="btn btn-secondary"
                   data-dismiss="modal">کنسل
           </button>
       </div>
   </div>
</div>
</div>

    <script type="application/javascript">
        function like(code) {

            $.ajax({
                type: 'POST',
                url: '/like',
                data: {
                    postid: $('#btn' + code).val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("like_count" + code).innerHTML = json['result']
                    if (json['color'] == 'red') {
                        $('#btn' + code).addClass('btn-danger')
                    }
                    else {
                        $('#btn' + code).removeClass('btn-danger')
                    }
                },
                error: function (xhr, errmsg, err) {

                }
            });
        }
    </script>

{% endblock %}