{% extends '_layout.html' %}
{% load static %}

{% block jsBlock %}

    <script
        src="{% static 'assets/vendors/MdBootstrapPersianDateTimePicker/js/jquery.Bootstrap-PersianDateTimePicker.js' %}"
        type="text/javascript">
    </script>

    <script>
        $(function () {
            $('#datepicker0').datepicker();
            $('#datepicker1').datepicker();
        });
    </script>

{% endblock %}

{% block cssBlock %}

{% endblock %}

{% block pageContent %}
        <div class="">
            <div class="x_panel">
                <div class="x_title bg-primary">
                    <h2 class="pull-right">تعداد اعضای سیستم</h2>
                    <ul class="nav navbar-left panel_toolbox">
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div id="container" style="width: 30%;">
                        <canvas id="pie-chart"></canvas>
                        <!-- <canvas id="myChart"></canvas> -->

                      </div>
                </div>
            </div>
        </div>
        <script src="{% static 'assets/Scripts/Chart.bundle.min.js'%}"></script>
        <script>
            var config = {
              type: 'pie',
              data: {
                datasets: [{
                  data: {{ data|safe }},
                  backgroundColor: [
                    '#b380bd', '#da004b', '#2c80bd' 
                  ],
                  label: 'Population'
                }],
                labels: {{ labels|safe }}
              },
              options: {
                responsive: true
              }
            };
          
            $(document).ready(
            function() {
              var canvas = document.getElementById("pie-chart");
              var ctx = canvas.getContext("2d");
              var myNewChart = new Chart(ctx, config);
          
              canvas.onclick = function(evt) {
                var activePoints = myNewChart.getElementsAtEvent(evt);
                if (activePoints[0]) {
                  var chartData = activePoints[0]['_chart'].config.data;
                  var idx = activePoints[0]['_index'];
          
                  var label = chartData.labels[idx];
                  var value = chartData.datasets[0].data[idx];
          
                  var url = "http://example.com/?label=" + label + "&value=" + value;
                  console.log(url);
                  alert(url);
                  // window.location.href = '/';
                }
              };
            }
          );       
          </script>
{% endblock %}

