{% extends '_layout.html' %}
{% load static %}
{% load comon_tags %}

{% block jsBlock %}
    <!-- Datatables -->
    <script src="{% static 'assets/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'assets/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'assets/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}


{% block cssBlock %}
    <!-- Datatables -->

    <link href="{% static 'assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}"
          rel="stylesheet">
{% endblock %}


{% block pageContent %}

    <div class="">

        <div class="x_panel">
            <div class="x_title bg-primary">
                <h2 class="pull-right">لیست</h2>
                <ul class="nav navbar-left panel_toolbox">
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% for user in users %}
                <div class="col-md-3">
                <div class="card-container">

                    {% if user.profile_picture %}
                                <img class="round" src={{user.profile_picture.url}} style="width:90px;height:80px;" alt="">
                            {% else %}
                                <img class="round" src="/static/assets/images/user.png" style="width:90px;height:80px;" alt="">
                            {% endif %}


                    {% if user.first_name and user.last_name %}
                            <h3 class="limit_text">{{user.first_name}} {{user.last_name}}</h3>
                        {% else %}
                            <h3 class="limit_text">{{user.username}}</h3>
                        {% endif %}
                    <span>                    <p class="limit_text" style="overflow: hidden;">
دانش استفاده شده : {{ user.member | user_activity_tag_used_knowledge }}
                </p></span>
                <span>                    <p class="limit_text" style="overflow: hidden;">
                    دانش   : {{ user.member | user_activity_tag_knowledge }}
                                    </p></span>
                    <span>                    <p class="limit_text" style="overflow: hidden;">
                                        امتیاز   : {{ user.member | calculator }}
                                                        </p></span>
                    <span>                    <p class="limit_text" style="overflow: hidden;">
                                        دنبال شوندگان   : {{ user.member | user_activity_tag_followers }}

                    <div class="skills">

                    </div>
                </div>
            </div>
                {% endfor %}

                <div class="col-md-12 col-sm-4 col-xs-4 form-group pull-right">

                            <ul class="pagination justify-content-center">
                            
                        
                        {% if users.has_previous %}
                            <li class="page-item"><a class="page-link" id="first" href="?page=1">&laquo اول</a></li>
                        
                            <li class="page-item"><a class="page-link" id="previous" href="?page={{ users.previous_page_number }}">قبلی</a></li>
                            
                        {% endif %}
                        
                        
                        {% if users.has_next %}
                            <li class="page-item"><a class="page-link" id="next" href="?page={{ users.next_page_number }}">بعدی</a></li>
                        
                            <li class="page-item"><a class="page-link" id="last" href="?page={{ users.paginator.num_pages }}">آخر &raquo</a></li>
                        
                        {% endif %}
                        
                        </ul>
    
                </div>





    </div>
    <!-- container -->
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	box-sizing: border-box;
}


h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #28436a;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #B3B8CD;
    margin: 10px 0px;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.limit_text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}


.skills {
	background-color: #28436a;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #03BFCB;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}


footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
</style>
            </div>
        </div>
    </div>

    <script>
        var pathname = window.location.href;
        pathname = pathname.split('user_list/?')      
        console.log('pathname',pathname[1])
        if(String(pathname).includes('search=')){
            if ($('#next').length > 0) {

                if(String(pathname[1]).startsWith('search=')){
                var next_href = document.getElementById('next').href;
                next_href = next_href +'&'+ String(pathname[1])
                console.log('next_href',next_href)
                document.getElementById('next').href=next_href;
                }
                else if (String(pathname[1]).startsWith('page')){
                    var next_href = document.getElementById('next').href;
                    var remained_url = pathname[1].split('&')
                    next_href = next_href +'&'+ String(remained_url[1])+'&'+ String(remained_url[2])
                    console.log('next',next_href)
                    document.getElementById('next').href=next_href;
                }
            }



            if ($('#last').length > 0) {

                if(String(pathname[1]).startsWith('search=')){
                var last_href = document.getElementById('last').href;
                last_href = last_href +'&'+ String(pathname[1])
                console.log('last_href',last_href)
                document.getElementById('last').href=last_href;
                }
                else if (String(pathname[1]).startsWith('page')){
                    var last_href = document.getElementById('last').href;
                    var remained_url2 = pathname[1].split('&')
                    last_href = last_href +'&'+ String(remained_url2[1])+'&'+ String(remained_url2[2])
                    console.log('last',last_href)
                    document.getElementById('last').href=last_href;
                }
            }            
         

            if ($('#previous').length > 0) {

                console.log('num',pathname[1][5])

                var previous_href = document.getElementById('previous').href;
                var remained_url3 = pathname[1].split('&')
                previous_href = previous_href +'&'+ String(remained_url3[1])+'&'+ String(remained_url3[2])
                console.log('previous_href',previous_href)
                document.getElementById('previous').href=previous_href;
            }


            if ($('#first').length > 0) {

                console.log('num',pathname[1][5])

                var first_href = document.getElementById('first').href;
                var remained_url4 = pathname[1].split('&')
                first_href = first_href +'&'+ String(remained_url4[1])+'&'+ String(remained_url4[2])
                console.log('first_href',first_href)
                document.getElementById('first').href=first_href;
            }



        }
        else{
            console.log('nooo')
        }
    </script>
{% endblock %}